@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.mainCont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 1% 0% 4% 0;
    margin: 0% 2%;
    gap:4%;
}

.CardCont{
    position: relative;
    width: 25%;
    box-shadow: inset 0 0 5px 5px #b4b4b456;
    border-radius: 9px; 
    height: 70vh;
    padding: 1% 0%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hostels {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px ;
    padding: 1.5% 0%;
    overflow-y: scroll;
    height: 100%; 
}
.hostels > * {
    margin-top: auto;
    margin-bottom: auto;
}

.hostels::-webkit-scrollbar {
    width: 5px;
}

.hostels::-webkit-scrollbar-track {
  background: transparent;
}

.hostels::-webkit-scrollbar-thumb {
  background: #c9c9c9;
  border-radius: 8px;
}

.hostels::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.Card {
    width: 80%;
    display: flex;
    align-items: baseline;
    justify-content: center;
    padding: 0% 2%;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    gap:8px;
    cursor: pointer;
    transition: ease-in-out 200ms;
    z-index: 2;
    box-shadow: 0 0 10px 5px #b4b4b456; 
}

.Card:hover{
    background-color: rgba(255, 255, 255, 0.123);
    scale: 1.05;
    box-shadow: 0 0 10px 6px #7e7e7e56;
}


.wp{
    position: relative;
    width: 76%;
    transition: ease-in-out 360ms;
    height: 100%;
    border-radius: 12px;
    box-shadow: inset 0 0 5px 5px #b4b4b456;
    font-family: "Poppins", sans-serif;
    font-size: 88px;
    font-weight: 600;
}
.hostelOverlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5 );
    box-shadow: inset 0 0 5px 5px #e6e6e62f;
    color: white;
    display: flex;
    transition: ease-in-out 360ms;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    z-index: 2;
}







/* Individual hostel */

.indHostel{
    padding: 0% 3%;
}

.heading{
    display: flex;
    align-items: baseline;
    gap: 0.8%;
    margin-block:1.2%;
    padding:0.5% 1.2%;
    box-shadow: 0 0 8px 4px #b4b4b456;
    border-radius: 10px;
}

.Grid{
    width: 100%;
    display: grid;
    grid-template-columns: 1.8fr 1fr;
    gap: 15px;
    height: 50vh;
    position: relative;
}

.LGridItem{
    position: relative;
    width: 100%;
    height:inherit;
    object-position: center;
} 
.SGridCont {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns */
    grid-template-rows: 1fr 1fr;
    height: inherit; 
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.SGridItem{
    position: relative;
    width: 100%;
    height: 100%;
    object-position: center;
}

.LImage,.SImage{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    transition: ease-in-out 300ms;
}
.LImage:hover{
    scale: 1.01;
}
.SImage:hover{
    scale: 1.02;
}


.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5 );
    color: white;
    display: flex;
    align-items: center;
    border-radius: 8px;
    justify-content: center;
    z-index: 2;
    cursor: pointer;
    flex-direction:column ;
}




.content{
    margin-block: 0.5% 2%;
    font-family: "Poppins", sans-serif;
    padding: 2% 0.5%;
}

.heading>h1,.heading>h4,.HostelInfo>p,.HostelInfo>p>p,.content>p,.Contact>div>p{
    padding: 0%;
    margin: 0%;
}
.content>p{
    text-align: justify;
    font-size: 17px;
    font-weight: 400;
    padding: 1% 2%;
    box-shadow: 0 0 8px 4px #e7e7e7;
    border-radius: 8px;
    margin-bottom: 3%;
}
.lowerCont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5%;
}
.HostelInfo{
    width: 50%;
    display: flex;
    justify-content: space-between;
    gap:8px;
}
.HostelInfo>p{
    display: flex;
    padding: 1% 3%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    gap:8px;
    box-shadow: 0 0 8px 4px #e7e7e7;
    border-radius: 8px;
    transition: ease-in-out 200ms;
    cursor: default;
}
.HostelInfo>p:hover{
    box-shadow: 0 0 8px 7px #94949456;
}
.HostelInfo>p>b{
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}


.Contact{
    width: 40%;
    display: flex;
    gap: 8px;
    justify-content: space-evenly;
    align-items: center;
}
.Contact>div{
    font-size: 19px;
    display: flex;
    padding: 1% 3%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:8px;
    height: 100%;
    box-shadow: 0 0 8px 2px #e7e7e7;
    border-radius: 8px;
    transition: ease-in-out 200ms;
    cursor: default;
}
.Contact>div>div>b{
    font-size: 22px;
    font-weight: 600;
}
.Contact>div>p{
    font-size: 16px;
}