# Base Configuration
DJANGO_SETTINGS_MODULE="config.settings.development"
SECRET_KEY="some-secret-key"
DEBUG=True

# Database configuration
DB_HOST="db-host"
DB_USER="db-user"
DB_PASSWORD="db-password"
DB_NAME="db-name"
DB_PORT=5432

# HOST configurations
ALLOWED_HOSTS="*"
CSRF_TRUSTED_ORIGINS="http://127.0.0.1:8000"

# URL of other services
CENTRAL_REPOSITORY_URL="http://127.0.0.1:8000"
